# node ignores
node_modules
npm-debug.log
# OS ignores
.DS_Store
Thumbs.db
# IDE ignores
.idea
.vscode
# build ignores
dist

# directories
temp/*

# original videos from movie
movie.mp4
# all videos?
*.mp4
# language models
*.onnx
*.onnx.json

.DS_Store