# node ignores
node_modules
npm-debug.log
# OS ignores
.DS_Store
Thumbs.db
# IDE ignores
.idea
.vscode
# build ignores
dist

# directories
temp/*
piper/*

# original videos from movie
movie.mp4
# all videos?
*.mp4

.DS_Store