# Development and Runtime
database/actors/
temp/*
piper/*
external_tools/*

# Node.js
node_modules/
npm-debug.log

# Build Output
dist/

# Media Files
recordings/*
*.mp4
*.webm
*.wav
*.m4a
*.mov
*.avi
*.mkv
*.flv
*.wmv
*.m4v
*.mp3
*.m4a
*.aac
*.ogg
*.oga

# Sensitive Data
auth.json

# Operating System
.DS_Store
Thumbs.db

# IDE and Editor
.idea/
.vscode/
.cursor/*

# actors
database/actors/*
database/actors-archive/*

# model files etc.
modules/skeletor-py/skeletor_debug_output/
public/models/